<!DOCTYPE html>
<html>

<head>
    <title>Say hello using the People API</title>
    <meta charset='utf-8' />
    <meta name="google-signin-client_id" content="">
</head>

<body>

    <div id="g_id_onload" data-client_id="807132324214-kqi2rrrqsf1bha57lah0nla6lqot4j17.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">

    </div>
    <div class="g_id_signin" data-type="standard"></div>
    <script>
        // Функция для декодирования Base64URL
        function base64UrlDecode(base64Url) {
            // Заменяем символы Base64URL на символы Base64
            let base64 = base64Url
                .replace(/-/g, '+')
                .replace(/_/g, '/');

            // Добавляем необходимые символы для корректного декодирования
            const padding = base64.length % 4;
            if (padding > 0) {
                base64 += '='.repeat(4 - padding);
            }

            // Декодируем Base64 строку
            const decoded = atob(base64);
            return decoded;
        }

        // Функция для декодирования JWT
        function decodeJWT(token) {
            // Разбиваем токен на части
            const parts = token.split('.');

            if (parts.length !== 3) {
                throw new Error('Invalid JWT token');
            }

            // Декодируем заголовок и полезную нагрузку
            const header = JSON.parse(base64UrlDecode(parts[0]));
            const payload = JSON.parse(base64UrlDecode(parts[1]));

            return {
                header: header,
                payload: payload
            };
        }

        function handleCredentialResponse(response) {
            // decodeJwtResponse() is a custom function defined by you
            // to decode the credential response.
            const responsePayload = decodeJWT(response.credential);
            
            console.log("ID: " + responsePayload.payload.sub);
            var token = response.credential
            print(token)
            console.log("Email: " + responsePayload.payload.email);

            var email = responsePayload.payload.email
            fetch('http://localhost/api/v1/auth/google/', {
                method: 'POST',
                headers: { 'Content-Type':'application/json;charset=UTF-8' },
                body: JSON.stringify({
                    email: email,
                    token: token
                })
            }).then(response => response.json())
            .then(data => console.log("Response data:", data))
        }

    </script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

</body>

</html>